<p id="notice"><%= notice %></p>

<p>
  <b>Front:</b>
  <%= @card.front %>
</p>

<p>
  <b>Back:</b>
  <%= @card.back %>
</p>

<p>
  <b>Course:</b>
  <%= @card.course_id %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
