<p id="notice"><%= notice %></p>

<h2 class="pull-left">Creator: <%= @deck.creator %></h2>
<h2 class="pull-right">Deck Name: <%= @deck.name %></h2>

<section id="flashcard-area">
  <%= render "decks/partials/flashcard_area" %>
</section>


<%= link_to "Edit this Deck", edit_deck_path(@deck), class: "btn" %>



