<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @deck.creator %>
</p>

<p>
  <b>Course:</b>
  <%= @deck.course_id %>
</p>

<p>
  <b>Doc type:</b>
  <%= @deck.doc_type %>
</p>


<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
